/*
  Basic Page Outline
  ------------------
  <body>
    <div id="root">
      <form data-id="form-0" class="form-inline">
        <div class="show-grid row">
          <div class="field-col col-xs-12">
            <div>
              <div class="[ nativeDatePicker | fallbackDatePicker ]">
            <div class="entry-buttons">
              <...buttons x2>
*/

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
  #root {
    border: 1px solid rgba(100,220,150,.5);
      border-radius: 1rem;
      box-shadow: .35rem .35rem rgba(100,150,220,.25);

    margin: 1rem auto;
    max-width: 400px;
    padding: 0 1rem;
    width: 95%;
  }

.show-grid {
  margin: 0 auto;
  text-align: center;
}
  .show-grid label {
    display: inline-block;
    margin: 0;
  }
    .show-grid label span {
      font-size: 14px;
    }

.form-inline .form-control {
  height: 3rem;
  margin: 0;
  padding: 0 0 0 .5rem;
  width: 100%;
}

.entry-buttons {
  display: block;
  margin: 1rem 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
  .entry-buttons button {
    display: inline-block;
    margin: 0 1rem;
    max-width: 120px;
    white-space: normal;
  }

/* UTIL - Utility */

.no-wrap {
  white-space: nowrap;
}
